<div class="table-responsive">
    <table class="table table-striped team-dashboard">
        <thead>
            <tr>
                <th scope="col">Team</th>
                <th scope="col">Played</th>
                <th scope="col">W</th>
                <th scope="col">L</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Prince CC</td>
                <td>14</td>
                <td>4</td>
                <td>9</td>
                <td>151</td>
            </tr>
            <tr>
                <td scope="row">Mayfair vision CC</td>
                <td>13</td>
                <td>3</td>
                <td>8</td>
                <td>27</td>
            </tr>
        </tbody>
    </table>
</div>
