<form class="tournaments-form">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Tournaments</label>
        <div class="dropdown">
            <button class="btn dropdown-toggle form-dropdown-tournaments" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                Select tournaments
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
        <!-- <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Default"> -->
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Seasons</label>
        <div class="dropdown">
            <button class="btn dropdown-toggle form-dropdown-seasons" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                2021 | 2022
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>

    </div>
    <div class="col-auto">
        <button type="submit" class="btn form-submit">Submit</button>
    </div>
</form>