.tournaments-form{
    margin: 15px;
    padding: 5px;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px;
}
.form-submit{
    box-shadow: 0 0 10px;
}
.form-submit:hover{
background-color: rgb(19, 19, 20);
color: rgb(247, 242, 242);
}
.form-dropdown-tournaments{
    width: 100%;
    box-shadow: 0 0 10px;
}
.form-dropdown-tournaments:hover{
    background-color: rgb(19, 19, 20);
    color: rgb(247, 242, 242);
}
.form-dropdown-seasons{
    width: 100%;
    box-shadow: 0 0 10px;
}
.form-dropdown-seasons:hover {
    background-color: rgb(19, 19, 20);
    color: rgb(247, 242, 242);
}